@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #04562d;
  --black: #000;
  --white: #fff;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--main-color);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --p-font: "Lora", serif;
  --main-font: "Poppins", sans-serif;
  --card-bg: #f7f7f7;
  --text-color: #c8c8c8;
  --active-color: #90a93d;
}
body {
  font-family: var(--main-font);
  background-color: var(--white);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: var(--white);
}
ul {
  list-style: none;
}
header {
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  z-index: 100;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
}
.logo {
  font-size: 2rem;
  font-family: var(--p-font);
  font-weight: 600;
  text-transform: uppercase;
}
.right ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.right ul li {
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.right ul li a {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  padding: 29px 0.5rem;
}
.right ul .lang a {
  padding: 5px;
}
.right ul li a:hover {
  background-color: var(--active-color);
}
.active {
  background-color: var(--active-color);
}
/* hero section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 16px;
  background-image: url(./img/hero4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;
  overflow: hidden;
  min-height: 80vh;
}
.hero .bg {
  width: 100%;
  height: 100%;
}
/* .hero .bg img {
  width: 100%;
  height: 70%;
  object-fit: cover;
} */
.hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}
.hero .content h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--white);
  margin: 1rem 0;
}
.hero .content p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 1rem 0;
}
.btn {
  display: inline-block;
  padding: 0.7rem 2rem;
  background-color: var(--main-color);
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  transition: 0.5s;
  cursor: pointer;
}
/* hero section end */
/* about section */
.about {
  padding: 2.5rem 0;
}
.about .title {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.about .title h1 {
  font-size: 2rem;
  font-weight: 600;
}
.about .title span {
  color: var(--main-color);
  text-transform: uppercase;
  font-family: var(--p-font);
  font-weight: 800;
}
.about .title p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 1rem 0;
  max-width: 700px;
}
.about .about-content {
  background-color: #fafff5;
  padding: 2rem;
}
.about .about-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about .about-main .right img {
  width: 350px;
  border-top-left-radius: 119px;
  border-bottom-right-radius: 119px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;

  padding: 7px;
  position: relative;
  z-index: 1;
  border: 1px solid var(--main-color);
}

.about .about-main .left {
  width: 50%;
}
.about .about-main .left .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}
.about .about-main .left h2 {
  font-size: 2rem;
  font-weight: 600;
}
.about .about-main .left p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 1rem 0;
  max-width: 700px;
}
/* about section end */
/* Products section */
.pro {
  padding: 2.5rem 0;
}
.pro .title {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.pro .title h1 {
  font-size: 2rem;
  font-weight: 600;
}
.pro .title span {
  color: var(--main-color);
  text-transform: uppercase;
  font-family: var(--p-font);
  font-weight: 800;
}
.pro .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.pro .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  cursor: pointer;
  /* border: 1px solid var(--main-color); */
}
.pro .grid-item:hover {
  scale: 1.1;
}
.pro .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* border: 1px solid var(--main-color); */
}
.pro .grid-item .item-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  background-color: var(--card-bg);
  padding-bottom: 1rem;
  border-radius: 10px;
}
.pro .all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.pro .all i {
  margin-left: 10px;
}
.pro .all:hover i {
  scale: 1.5;
}
/* Products section end */
/* contact section */
.contact {
  padding: 2.7rem 0;
  padding-bottom: 0;
}
.contact a {
  color: #000;
}
.contact ul li :hover {
  color: var(--white);
}

.contact h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.contact span {
  color: var(--main-color);
  text-transform: uppercase;
  font-family: var(--p-font);
  font-weight: 800;
}

.contact .contact-bg {
  background-image: linear-gradient(
    to right in oklab,
    rgb(4, 86, 45) 0%,
    rgb(250, 255, 245) 100%
  );
  padding: 2rem;
}

.contact .contact-content ul {
  display: flex;
  gap: 1.3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  flex-direction: column;
}
.contact .contact-content i {
  margin-right: 10px;
}
